.detailTittle{
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    color: rgb(255, 255, 255);
    background-color: rgb(51, 61, 41, 0.4);
    border-radius: 15px;
    border: 1px solid rgb(255, 255, 255);

}