.search {
  padding: 0.3em;
  margin: 0.2;
}

.buttons {
  padding: 0.3em;
  margin: 0.5em;
  width: 3.4rem;
}

.searchs {
padding: 0.1rem;
}

.filters{
  padding: 0.5rem;
}

.orders{
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.hr{
  color: solid black
}

.searchbar{
  /* display: flex;
  flex-direction:row; */
  flex-wrap: wrap;
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr 1fr;

}

.h4{
  margin-bottom: 1rem;
  margin-top: 0.4rem;
}

.h4b{
  margin-bottom: 0.1rem;
  margin-top: 0.4rem;
}

.h6{
  margin-bottom: 0.1rem;
  margin-top: 0.1rem;
}

.searchbar{
  margin-left: 2rem;
  margin-right: 2rem;
}