input::placeholder {
  font-size: smaller;
  color: white;
  font: bold;
}

.buttons {
  width: 3.4rem;
  height: 1.6rem;
  margin: 0.5em;
  padding: 0.3em;
    box-shadow: 0px 10px 14px -7px #a6827e;
    background:linear-gradient(to bottom, #7d5d3b 5%, #634b308b 100%);
    background-color:#f4f4f400;
    border-radius:8px;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    /* font-size:20px; */
    font-weight:bold;
    text-decoration:none;
    text-shadow:0px 1px 0px #4d3534;
    text-align: center;
    height:fit-content;
  }
.buttons:hover {
	background:linear-gradient(to bottom, #634b30 5%, #7d5d3b 100%);
	background-color:#634b30;
  
}

.inputSearch {
  height: 1.6rem;
  margin: 0.5em;
  padding: 0.3em;
  background-color: rgba(194, 197, 170, 0.2);
  color: white;
  font-weight:550;
  
}

.search {
  padding: 0.01rem;
}

.searchs {
padding: 0.1rem;
margin-top: 1rem;
}

.filters{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.activity{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 2rem;
  padding-left: 0.5rem;
}

.orders{
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.hr{
  color: solid black
}

.searchbar{
  /* display: flex;
  flex-direction:row; */
  flex-wrap: wrap;
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr 1fr;
  
  background-color: rgba(51, 61, 41, 0.4);
  border-radius: 01rem;
  border-color: black;
  width: 100%;
  height: 130px;
  z-index: 9999;
}

.h4Filter{
  margin-bottom: 1rem;
  margin-top: 10%;
}

.h4Order{
  margin-bottom: 0.1rem;
  margin-top: 0.4rem;
}

.h5Act{
  margin-bottom: 1rem;
  margin-top: 0.4rem;
  margin-right: 0rem;
  text-align: center;
}
.h6{
  margin-bottom: 0.1rem;
  margin-top: 0.1rem;
}

.selectors{
  background-color: rgba(194, 197, 170, 0.2);
  color: white;
  
  border-width: 2px;
  border-style: inset;
  border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
  }

.selectors option{
  background-color: rgba(194, 197, 170);
  color:#4d3534
}